
.idea/inspectionProfiles/profiles_settings.xml
.idea/PythonFunctionalMethods.iml
__pycache__/functional.cpython-36.pyc
.ipynb_checkpoints/main-checkpoint.ipynb
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
